.container{
    margin-right: auto;
    margin-left: auto;
    font-family: Gotham Pro Medium,sans-serif;
}
.mks {
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 85%;
    background: slateblue;
}
.g-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div {
    display: block;
}
